body{
  background-color: #cfdfff;
}

.App {
  font-family: 'Otomanopee One', sans-serif; 
  font-size: 35pt;
  text-align: center;
  letter-spacing: 5pt;
}

.App img.start{
  max-width: 250px;
  cursor: pointer;
}

.App .Game{
display:flex;
letter-spacing:2pt;

}
.App .Game .Player{
flex-grow: 1;
}
.App .Game .Computer{
  flex-grow: 1;
}

.App .Game .Computer img{
  max-width: 250px;
}

.App .Game .Player span {
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  cursor: pointer;
}

.App .Game .Player img{
  max-width: 200px;
  margin: 0 15px 15px;
  display: block;
}

.App .Game .Player.selected img,
.App .Game img{
  max-width: 250px;
  margin: auto
}



.App pre {
  padding: 10px;
  text-align: left;
  font-size: 20pt;
  letter-spacing: normal;
}